@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gumela;
  src: url('../src/assets/fonts/Gumela\ Regular.otf');
}

*{
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #FAF9F6;
  z-index: -1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
